[".config/mpv/scripts/modernz.lua"]
    type = "file"
    url = {{ gitHubLatestReleaseAssetURL "Samillion/ModernZ" "modernz.lua" | quote }}
    refreshPeriod = "168h"

[".config/mpv/scripts/inputevent.lua"]
    type = "file"
    url = "https://raw.githubusercontent.com/natural-harmonia-gropius/input-event/refs/heads/master/inputevent.lua"\
    refreshPeriod = "168h"

[".config/mpv/script-opt/modernz-locale.json"]
    type = "file"
    url = "https://raw.githubusercontent.com/Samillion/ModernZ/refs/heads/main/extras/locale/modernz-locale.json"
    refreshPeriod = "168h"

