{{- if eq .chezmoi.os "windows" -}}
**
!.ssh/
!.config/fastfetch/
!.config/git/
!.config/mpv/
!.config/starship.toml
{{- end -}}

{{- if .headless -}}
**
!.config/fastfetch/
!.config/fish/
!.config/starship.toml
{{- end -}}
