key.txt.age

{{- if eq .profile "server" -}}
.ssh/
.ssh/**
.config/git/
.config/git/**
.config/mozilla/
.config/mozilla/**
{{- end -}}

{{- if ne .chezmoi.os "linux" -}}
.config/fish/
.config/fish/**
{{- end -}}
