key.txt.age

{{ if eq .profile "server" -}}
**
!.config/
!.config/bat/
!.config/bat/**
!.config/fastfetch/
!.config/fastfetch/**
!.config/nano/
!.config/nano/**
!.config/npm/
!.config/npm/**
!.config/wgetrc
{{ if eq .chezmoi.os "linux" -}}
!.config/fish/
!.config/fish/**
{{ end -}}
{{ end -}}

{{ if ne .chezmoi.os "linux" -}}
.config/fish/
.config/fish/**
{{ end -}}
