{{- $interactive := stdinIsATTY -}}
{{- $headless := false -}}

{{- $email := "yidaduizuoye@outlook.com" -}}
{{- if hasKey . "email" -}}
{{-   $email = .email -}}
{{- else if $interactive -}}
{{-   $email = promptStringOnce . "email" "email" -}}
{{- end -}}

{{- $firefoxId := "" -}}
{{- if not $headless -}}
{{-     if eq .chezmoi.os "linux" -}}
{{-         $firefoxId = mozillaInstallHash "/usr/bin/firefox" -}}
{{-     end -}}
{{- end -}}

[data]
    headless = {{ $headless }}
    email = {{ $email | quote }}

    firefoxId = {{ $firefoxId | quote }}
    firefoxPath = "default-release"

[git]
    autoCommit = true

[diff]
    command = "difft"
