"$schema" = 'https://starship.rs/config-schema.json'

command_timeout = 2000
add_newline = true
format = """
$hostname\
$username\
$directory\
$git_branch\
$git_state\
$git_status\
$line_break\
$character"""

[hostname]
detect_env_vars = ['!TMUX', 'SSH_CONNECTION']
ssh_symbol = '\(ssh\)'
format = '[$ssh_symbol](bold yellow)'

[username]
format = '[$user]($style) '
style_user = 'bold green'
style_root = 'bold red'

[git_branch]
format = '\[[ $branch ]($style)\]'

[git_status]
format = '( [$conflicted](fg:red)[$untracked](fg:green)[$renamed](fg:yellow)[$modified](fg:yellow)[$deleted](fg:red)[$ahead_behind ]($style))'
style = 'blue'
conflicted = "≄ "
untracked = " $count "
modified = " $count "
renamed = " $count "
deleted = " $count "

#[character]
#success_symbol = '[grub rescue >](bold white) '
#error_symbol = '[grub rescue >](bold red) '
